[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
discord-py = "*"
motor = "*"
dnspython = "*"
aiohttp = "*"
openpyxl = "*"
asyncio = "*"
discord = "*"
dateparser = "*"
pause = "*"
jishaku = "*"
durations = "*"

[requires]
python_version = "3.8"
